body {
    font-family: Inter;
    background-color: #f1f2f3;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.messageContainer {
    background-color: #fff;
    font-size: 1rem;
    width: 36%;
    height: 40vh;
    margin-left: 32%;
    margin-top: 30vh;
    border-radius: 30px;
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 8%), 0 30px 60px -30px rgb(0 0 0 / 13%), 0 10px 20px -10px rgb(0 0 0 / 8%);
}

.messageContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 30%;
}

h1 {
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: sans-serif;
}

p {
    margin: 0.5em;
    opacity: 0.7;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .messageContainer {
        height: 70vh;
        width: 90%;
        margin-left: 5%;
        margin-top: 15vh;
    }
    .messageContent {
        max-width: 80%;
        left: 28%;
        transform: translate(-20%, -50%);
    }
  }