body {
    font-family: Inter;
    background-color: #f1f2f3;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.messageContainer {
    background-color: #fff;
    font-size: 1rem;
    width: 36%;
    height: 40vh;
    margin-left: 32%;
    margin-top: 30vh;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 20px #eee;
}

.messageContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 30%;
}

h1 {
    font-weight: bolder;
}

@media screen and (max-width: 900px) {
    .messageContainer {
        height: 70vh;
        width: 90%;
        margin-left: 5%;
        margin-top: 15vh;
    }
    .messageContent {
        max-width: 80%;
        left: 28%;
        transform: translate(-20%, -50%);
    }
  }